@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="favorites_cart d-flex flex-row align-items-center justify-content-end">
        <div class="comparison d-flex flex-row align-items-center justify-content-end">
            <div class="comparison_icon">
                <img src="~/images/comparison.svg">
            </div>
            <div class="favorites_content">
                <div class="feature_text">
                    <a asp-area="" asp-page="/Compare/Compare">Compare</a>
                </div>
            </div>
        </div> <!-- Favorites -->
        <div class="favorites d-flex flex-row align-items-center justify-content-end">
            <div class="favorites_icon pr-2">
                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/heart.png" alt="">
            </div>
            <div class="favorites_content">
                <div class="feature_text">
                    <a asp-area="" asp-page="/Favorites/Favorites">Favorites</a>
                </div>
            </div>
        </div> <!-- Cart -->
        <div class="cart">
            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="favorites_icon pr-2">
                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                </div>
                <div class="favorites_content">
                    <div class="feature_text">
                        <a asp-area="" asp-page="/Cart/Cart">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}