<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieLand</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" media="screen" runat="server" asp-append-version="true" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")" asp-append-version="true"/>*@
</head>
<body>
    <!-- Header -->
    <header class="header mb-5">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>(+385)91 1234 567 890
                        </div>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">movieland@gmail.com</a>
                        </div>
                        <div class="top_bar_content ml-auto">
                            <div class="top_bar_user">
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Header Main -->
        <div class="header_main border-bottom box-shadow">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-lg-3 col-sm-4 col-4 order-1">
                        <div class="logo_container">
                            <div class="logo d-flex align-items-center">
                                <img src="~/images/movie.png" height="36" width="36"/>
                                <a asp-area="" asp-page="/Index" style="margin-left: 5px">MovieLand</a>
                            </div>
                        </div>
                    </div>
                    <!-- Main Nav Menu -->
                    <div class="col-lg-6 order-2 d-flex justify-content-center align-items-center text-center">
                        <div class="main_nav_content">
                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a asp-area="" asp-page="/Index">Home</a></li>
                                    <li class="hassubs"><a asp-area="" asp-page="/AboutUs/AboutUs">About Us</a></li>
                                    <li class="hassubs"><a asp-area="" asp-page="/ContactUs/ContactUs">Contact Us</a></li>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <li class="hassubs"><a class="text-success" href="~/Admin/Directors/Index"> | Directors</a></li>
                                        <li class="hassubs"><a class="text-success" href="~/Admin/Genres/Index"> Genres</a></li>
                                        <li class="hassubs"><a class="text-success" href="~/Order/Index"> Orders |</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Menu Trigger -->
                    <!-- Features -->
                    <div class="col-lg-3 col-sm-4 col-8 order-lg-3 order-3 text-right">
                        <partial name="_FeaturePartial" />
                    </div>
                </div>
            </div>
        </div> <!-- Main Navigation -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MovieLand.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" runat="server" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
