@page
@model MovieLand.Web.Pages.CheckOut.CheckOutModel
@{
    ViewData["Title"] = "Check Out";
}


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-40">
        <h4>Shipping Information</h4>

        <div class="row">

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.FirstName"></label>
                <input asp-for="Order.FirstName" type="text" placeholder="Enter first name..." />
                <span asp-validation-for="Order.FirstName" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.LastName"></label>
                <input asp-for="Order.LastName" type="text" placeholder="Enter last name..." />
                <span asp-validation-for="Order.LastName" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.Email"></label>
                <input asp-for="Order.Email" type="text" placeholder="Enter your email address..." />
                <span asp-validation-for="Order.Email" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.ContactNumber"></label>
                <input asp-for="Order.ContactNumber" type="text" placeholder="Enter your phone number..." />
                <span asp-validation-for="Order.ContactNumber" class="text-danger"></span>
            </div>

            <div class="col-12 mb-20">
                <label asp-for="Order.ShippingAddress"></label>
                <input asp-for="Order.ShippingAddress" type="text" placeholder="Enter shipping address..." />
                <span asp-validation-for="Order.ShippingAddress" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.Country"></label>
                @*<select asp-for="Order.Country" class="nice-select">
                <option>Croatia</option>
                <option>USA</option>
            </select>*@
                <input asp-for="Order.Country" type="text" placeholder="Enter your country..." />
                <span asp-validation-for="Order.Country" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.City"></label>
                <input asp-for="Order.City" type="text" placeholder="Enter your city..." />
                <span asp-validation-for="Order.City" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-12 mb-20">
                <label asp-for="Order.PostalCode"></label>
                <input asp-for="Order.PostalCode" type="text" placeholder="Enter your postal code..." />
                <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
            </div>

            <!-- Payment Method -->
            <div class="col-12 mb-60">

                <h4 class="checkout-title">Payment Method</h4>
                <div class="checkout-payment-method">
                    <div>
                        <input asp-for="Order.PaymentMethod" type="radio" id="payment_cash" name="payment-method" value="cash">
                        <label for="payment_bank">Cash on Delivery</label>
                    </div>

                    <div>
                        <input asp-for="Order.PaymentMethod" type="radio" id="payment_cart" name="payment-method" value="card">
                        <label for="payment_cash">Card online</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="row">

            <!-- Cart Total -->
            <div class="col-12 mb-60">
                <h4>Cart Total</h4>
                <div>
                    <ul>
                        @if (Model.CartViewModel.Items.Any())
                        {
                            foreach (var cartItem in Model.CartViewModel.Items)
                            {
                                <li>@cartItem.Movie.Title X @cartItem.Quantity <span> = $@cartItem.TotalPrice</span></li>
                            }
                        }
                    </ul>

                    <p>
                        Sub Total <span>$@Model.CartViewModel.GrandTotal</span><br />
                        Shipping Fee <span>$00.00</span>
                    </p>

                    <h4>Grand Total <span>$@Model.CartViewModel.GrandTotal</span></h4>
                </div>

            </div>
        </div>
        <button class="place-order">Place order</button>
    </div>
</form>
