/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    position: relative;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #0e8ce4;
    border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles -------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
}

/* TODO: move to movie detail review and info section */
.nav-link.active {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/*----------------------------------------------------------*/
/*--------------------- ABOUT US PAGE ----------------------*/
.about {
    background: url(https://images.unsplash.com/20/bw-room.JPG?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80) no-repeat left;
    background-size: 55%;
    background-color: #fcfcfc;
    border-radius: 20px;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 150px;
}

.inner-section {
    width: 55%;
    float: right;
    background-color: #dbdbdb;
    box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
    padding: 140px;
}

.inner-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    color: #545454;
    line-height: 1.7rem;
    text-align: justify;
    margin-bottom: 40px;
}

.contact-btn {
    font-size: 22px;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 200px;
    background-color: #3c3c3c;
    color: #ffffff;
    cursor: pointer;
}

.contact-btn:hover {
    transition: 1s;
    background-color: #ffffff;
    color: #3c3c3c;
}

@media screen and (max-width:1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about {
        padding: 0;
    }

    .inner-section {
        padding: 60px;
    }

    .contact-btn {
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}


/*----------------------------------------------------------*/
/*------------------- CONTACT US PAGE ----------------------*/
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.contact3 {
    margin-top: 150px;
    color: #8d97ad;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
    color: #3e4555;
}

.contact3 .font-weight-medium {
    font-weight: 500;
}

.contact3 .card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact3 .btn-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}


/*----------------------------------------------------------*/
/*-------------------------- INDEX -------------------------*/
.ratings svg {
    font-size: 20px;
}

.summary {
    font-size: 16px;
}

.card-middle-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.card-middle-form > form {
    display: inline-block;
    width: 45%;
}

.card-middle-form > form > button {
    width: 100%;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

div {
    position: relative;
}

p {
    color: #828282;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.form-control {
    color: #db5246
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.clear {
    clear: both
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.fill_height {
    height: 100%;
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8;
}

.link-primary {
    color: #212529;
}

.link-primary:hover {
    color: #0e8ce4;
    cursor: pointer;
}

.header {
    position: relative;
    width: 100%;
    z-index: 10;
}

.top-navbar {
    width: 100%;
    height: 56px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.header.scrolled .top-navbar {
    display: none;
}

.standard_dropdown {
    background-color: white;
}

.standard_dropdown li {
    display: inline-block;
    position: relative;
    height: 56px;
}

.standard_dropdown li:hover > ul {
    top: 100%;
    visibility: visible;
    opacity: 1
}

.user-icon {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
}

.user-icon img {
    width: 100%
}

.bottom-navbar {
    z-index: 1
}

.header.scrolled .bottom-navbar {
    display: none;
}

.logo-container {
    height: 80px
}

.logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo a {
    font-size: 36px;
    color: #0e8ce4;
}

.header_search {
    height: 90px
}

.custom_list {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 75px;
    left: -15px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: all 0.2s ease
}

select {
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    color: #7b00ff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

select:hover {
    cursor: pointer;
}

select option {
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*--------------------------------------------------------------------*/
/*-------------------------- FEATURES NAVBAR -------------------------*/
.favorites-cart {
    height: 90px;
}

.favorites {
    margin-right: 20px
}

.comparison {
    margin-right: 20px;
}

.feature-icon img {
    height: 40px;
    width: 100%;
}

/*.feature-count {
    margin-top: -2px;
    color: #a3a3a3;
    font-size: 14px
}*/

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
.main-nav-dropdown li {
    margin-right: 35px;
}

.main-nav-dropdown li:last-child {
    margin-right: 0px;
}

.main-nav-dropdown li a {
    color: #a19a9a;
    font-size: 20px;
    font-weight: 400;
    line-height: 65px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important
    }
}

@media only screen and (max-width: 1199px) {
    .main-nav-dropdown li {
        margin-right: 30px;
    }

    .main-nav-dropdown li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .logo-container,
    .favorites-cart {
        height: 125px;
    }

    .main-nav-content {
        background: #0e8ce4;
    }

    .top_bar_contact_item {
        font-size: 12px;
        margin-right: 20px;
        line-height: 40px;
    }

    .user-icon {
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
        width: 12px;
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 13px;
    }

    .top-navbar {
        display: none;
    }

    .logo-container,
    .favorites-cart {
        height: 72px;
    }

    .logo a {
        font-size: 24px;
    }

    .favorites {
        margin-right: 23px;
    }

    /*.feature-count,
    .cart_price {
        font-size: 12px;
    }*/

/*    .cart-count {
        width: 21px;
        height: 21px
    }

    .cart-count span {
        line-height: 21px
    }*/

    .main-nav-content {
        height: 35px;
    }

    .button {
        height: 32px;
    }

    .button a {
        font-size: 12px;
        line-height: 32px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.card-group-item {
    margin-bottom: 10px;
}

.filter-header {
    padding-top: 20px;
    text-align: center;
}

.filter-header h5 {
    font-size: 18px;
    font-weight: bold;
}

.filter-button {
    width: 100%;
    height: 35px;
    font-weight: 500;
}

.search-bar {
    width: 50%;
    height: 100%;
    padding-left: 10px;
}

.search-button {
    transform: translateY(-2px);
    width: 40px;
    height: 105%;
    border-radius: 5px;
    background-color: #0e8ce4;
}


/*------------------------------------------------------------------*/
/*-------------------------- MOVIE DETAIL  -------------------------*/
.review-info-tab:active {
    text-decoration: underline;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/