<div class="top-navbar d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-10 d-flex justify-content-start align-items-center">
                <div class="mr-4">
                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt="">
                    (+385)91 1234 567 890
                </div>
                <div>
                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt="">
                    <a class="link-primary" href="mailto:fastsales@gmail.com">movieland@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-2 d-flex justify-content-end align-items-center">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</div>